/*CSS Reset*/
* {
	margin: 0;
	padding:  0;
	box-sizing: border-box;
}
* {
	font-family: 'Mulish', sans-serif;
}

body {
	background-image: url(https://images.pexels.com/photos/7976210/pexels-photo-7976210.jpeg?);
	background-size: cover;
	background-repeat: repeat;
	background-position: center;
}

#navbar {
	height: 3rem;
	width: 100%;
}

#nav_list {
	font-size: 20px;

}

#landingPage {
	background-color: rgba(250, 128, 114,0.30);
	height: 100%;
	width: 90vw;
	background-size: cover;
}

#introduction {
	font-size: x-large;
 	font-weight: 400;
}

.fa-icons {
	font-size: 2rem;
	color: snow;
}

html {
	scroll-behavior: smooth;	
}

#footer {
	height: 3rem;
	width: 100%;
}

#gallerycontainer {
	width: 100%;
}

#gmap_canvas {
	height: 80vh;
	width: 100%;
}


#contactform{
	outline: #20B0B7;
	outline-style: solid;
}

#modaldialogbox {
	background-color: rgba(32,176, 183, 0.5);
}

#aboutme {
	font-size: 18px;
}
